
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta property="og:url" content="http://carrerafit.org”   />
    <meta property="og:title" content="Carrera FIT" />
    <meta property="og:image" content="http://g316polanco.org/fit/images/fit_fb_banner.jpg" />
    <meta property="og:site_name" content=“carrerafit.org" />
    <meta property="og:description" content="¡Toma el reto! Inscríbete a la primera CARRERA FIT 5K/10K/CAMINATA a realizarse el 3 de Septiembre, 2016 en Parque Bicentenario." />
    <title>Carrera FIT - @ViewBag.Title</title>
    <link type="text/css" rel="stylesheet" href="~/Content/bootstrap.slate.min.css" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="~/Content/Inscripcion.css" />
</head>
<body>
    <div class="jumbotron">
        <div id="header-wrapper" class="text-center">
            <img src="~/Images/carrera_trans.png" class="text-center img-responsive" />
            <h2>@ViewBag.Header</h2>
        </div>
    </div>
    <div class="container">
        @RenderBody()
    </div>

    <footer class="container text-center">
        <p>Este sitio hace uso de cookies</p>
        <p>Para cualquier duda o aclaración favor de contactar a <a href="mailto:hola@g316polanco.org">hola@g316polanco.org</a></p>
    </footer>
</body>
</html>
