body {
    font-family: 'Montserrat' !important;
    font-weight: 300;
    background: black !important;
}

.navbar img {
    width: 120px;
}

h1, h2, h3, h4 {
    letter-spacing: 4px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
}

.corredor .row div {
    margin-bottom: 20px;
}

.jumbotron {
    background: url('../images/back-black.jpg');
    border-bottom: 5px solid #ffffff;
    text-align: center;
    width: 100%;
}

.jumbotron h2 {
    font-family: Montserrat !important;
    letter-spacing: 4px !important;
    font-weight: 400 !important;
    text-transform: uppercase;
}

.jumbotron p {
    font-size: 15px !important;
    display: inline-table;
    max-width: 630px;
}

#header-wrapper {
    width: 100%;
    text-align:center;
}

.jumbotron img {
    width: 30%;
    display: initial;
}
@media only screen and (max-width: 992px){
    .jumbotron img {
        width: 60%;
        display: initial;
    }
}

.corredor {
    padding-left: 30px !important;
    padding-right: 30px !important;
    margin-top: 20px;
    margin-bottom: 20px;
}

.corredor:nth-child(odd){
    border-left: 4px solid #ed786a;
}

.corredor:nth-child(even) {
    border-left: 4px solid #ffffff;
}

.extra {
    margin-right: 20px;
}

.modal-body {
    overflow-y: scroll !important;
    height: 400px !important;
    max-height: 100% !important;
}

#datos {
    margin-bottom: 30px;
}