body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Montserrat' !important;
    font-weight: 300;
    background: black !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    font-family:'Montserrat' !important;
}

.navbar img {
    width: 150px;
}

h1, h2, h3, h4 {
    letter-spacing: 4px;
    font-weight: 400;
    color: #fff;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

