
@{
    ViewBag.Title = "Inscripción Exitosa";
    ViewBag.Header = "¡Inscripción Exitosa!";
    Layout = "~/Views/Shared/_LayoutInscripciones.cshtml";
}

<div class="text-center">
    <h2>¡@ViewBag.TotalInscritos corredor/es se ha/n inscrito exitosamente!</h2>
    <p>Te hemos enviado un correo electrónico con los datos de tu inscripción</p>
    <h4>Número de confirmación: @ViewBag.Confirmation</h4>
</div>
@*<div class="btn-group btn-group-justified" role="group">
    <a type="button" class="btn btn-primary" href="#"><span class="glyphicon glyphicon-download-alt"></span> Confirmación</a>
    <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-download-alt"></span> Exoneración de Responsabilidades <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="g316polanco.org/carrerafit/FIT_ADULTO.pdf">Adulto</a></li>
            <li><a href="g316polanco.org/carrerafit/FIT_MENOR.pdf">Menor</a></li>
        </ul>
    </div>
</div>*@
