
@{
    ViewBag.Title = "Inscripción Exitosa";
    ViewBag.Header = "¡Inscripción Exitosa!";
    Layout = "~/Views/Shared/_LayoutInscripciones.cshtml";
}

<div class="text-center">
    <h3>Número de confirmación: @ViewBag.Confirmation</h3>
    <p>Te hemos enviado un correo electrónico con los datos de tu inscripción</p>
</div>
